header
    a(href="/").header__logo
        i.fab.fa-github
    nav
        ul
            li
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log Out
                //- li
                //-     a(href=`/users/${loggedInUser._id}`)
                //-         if loggedInUser.avatarUrl === ""
                //-             span 😀
                //-         else
                //-             if loggedInUser.socialOnly 
                //-                 img(src=loggedInUser.avatarUrl).header__avatar
                //-             else 
                //-                 img(src="/" + loggedInUser.avatarUrl).header__avatar
            else 
                li 
                    a(href="/login") Log In
                li
                    a(href="/join").header__btn Join