extends ../base

block content 
    form(method="POST")
        if passwordError 
            span=passwordError
        input(name="passwordOld",type="password",required, placeholder="Current Password", autocomplete="off")
        input(name="passwordNew",type="password",required, placeholder="New Password", autocomplete="off")
        if passwordCheckError 
            span=passwordCheckError
        input(name="passwordNewCheck",type="password",required, placeholder="Confirm Password", autocomplete="off")
        input(type="submit", value="Change Password")
